[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gvm = {editable = true, git = "https://github.com/greenbone/python-gvm"}

[dev-packages]
coverage = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
black = "==18.9b0"
pre-commit = "*"
