version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Install GVM-Tools
          command: |
            . venv/bin/activate
            pip install .
  test:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install coverage.py and codecov
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install coverage codecov
      - run:
          name: Run unit tests
          command: |
            . venv/bin/activate
            coverage run -m unittest
      - run:
          name: Upload coverage to Codecov
          command: |
            . venv/bin/activate
            codecov
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
