name: Container Image Builds

on:
  push:
    branches: [ main ]
    tags: ["v*"]
  workflow_dispatch:

jobs:
  images:
    name: Build images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Login to Dockerhub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Setup container meta information
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: greenbone/gvm-tools
          labels: |
            org.opencontainers.image.vendor=Greenbone
            org.opencontainers.image.documentation=https://greenbone.github.io/gvm-tools/
            org.opencontainers.image.base.name=debian/stable-slim
          flavor: latest=false # no latest container tag for git tags
          tags: |
            # create container tag for git tags
            type=ref,event=tag
            # set latest for main branch pushes
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push Container image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          file: .docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
